$textcolor: rgb(84, 128, 185);
$fontfam: "Quicksand", sans-serif;
$fontsizebig:10.5%;
$fontsizemedium:50%; 
$navbackgroundcolor: rgb(255, 255, 255);
$navbackgroundcolortext:#77dcdf;
$profileBg:#fff;
$skillsBg:#3d3e42;
$profileColor:#9099a0;
$skillsColor:#67bbbb; 
$linkColor:#187a8b;
$boldColor:#4a4e51;
$time:0.6s;
