@import"./navbar";
@import"./variables";
@import"./skills";
@import"./welcome";
@import "./album";
@import"./experience";
body{
  color: $textcolor;
  font-family: $fontfam ;
  font-size: $fontsizebig;
  height: 100%;
  color: #777;
  line-height: 1.8; 
}

.image_about{
margin-left: 100px;
height: 700px;
width:600px;
}

#footer{
  color: aqua;
  background-color: $skillsColor;
}

@media(max-width: 900px) {
  #about{
    width: 100%;
  }
  #img1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .image_about{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #img2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #about1{
    margin-left: 5%;
    width: 90%;
  }
  .column {
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
 
}